include ../mixins/avatar
header.header-container
    div.header-left-section
        button.header-menu
            i.ic-hamburger
        h1
            a(href="/").header-home
                img(src="/assets/icons/Youtube-Logo.svg", alt="Button to go home")

    div.header-center-section
        form(method="GET", action="/search").header-form
            input(type="text", name="keyword", placeholder="Search")
            button(type="submit")
                i.ic-search

    div.header-right-section
        if loggedIn
            ul.header-right-loggedIn
                li.upload
                    a(href=`/channel/${channel._id}/upload`)
                        i.ic-create
                li.avatar
                    button.avatar-btn
                        +avatar-noanchor(channel)
            ul.avatar-click-menu.hidden
                li
                    a(href=`/channel/${channel._id}`) 
                        i.ic-your-channel
                        span My Channel
                li
                    a(href=`/channel/${channel._id}/edit`) 
                        i.ic-edit
                        span Edit Channel
                li
                    a(href=`/channel/${channel._id}/logout`) 
                        i.ic-logout
                        span Logout
                
        else
            ul.header-right-notLoggedIn
                li
                    a(href="/login")
                        i.ic-my-channel
                        span Sign In
