include ../mixins/avatar
div
    button
        i.ic-hamburger
    a(href="/")
        img(src="/assets/icons/Youtube-Logo.svg", alt="Button to go home")
          
div
    form(method="GET", action="/search")
        input(type="text", name="keyword", placeholder="Search")
        button(type="submit")
            i.ic-search
div
    if loggedIn
        a(href=`/channel/${channel._id}/upload`)
            i.ic-create
        a(href=`/channel/${channel._id}/logout`)
            Strong Logout
        +avatar(channel)
    else
        a(href="/login")
            strong Login
        a(href="/join")
            strong Join