include ../mixins/subscriptions

nav
    ul
        li
            a(href="/") 
                i.ic-home
                //- i.ic-home-fill
                span Home
        li
            a(href="/feed/explore") 
                i.ic-explore
                //- i.ic-explore-fill
                span Explore
        li
            a(href="/feed/subscriptions") 
                i.ic-subscriptions
                //- i.ic-subscriptions-fill
                span Subscriptions
    ul
        li
            a(href="/feed/library")
                i.ic-library
                //- i.ic-library-fill
                span Library
        li
            a(href="#")
                i.ic-your-videos
                //- i.ic-your-videos-fill
                span Your Videos
        li
            a(href="#")
                i.ic-liked
                //- i.ic-liked-fill
                span liked Videos
    if channel
        +showSubscriptions(channel)
    else
        div.nav-login
            p Sign in to like videos, comment, and subscribe.
            a(href="/login")
                i.ic-my-channel
                span Sign In

    div.nav-copyright
        small &copy;99yuseong
        small 2022 Project wetube

    