extends ../base/layout

block content
    form(method="POST")
        label(for="old") Current Password
        input(type="password" name="old", id="old")
        label(for="new") New Password
        input(type="password" name="new1", id="new")
        label(for="old") New Password Confirmation
        input(type="password" name="new2", id="new2")
        input(type="submit", value="Change Password")