extends ../base/layout

block content
    form(method="POST")
        input(type="email", placeholder="Email", name="email")
        input(type="password", placeholder="Password", name="password")
        input(type="submit", value="Login")

    a(href="/socialLogin/github") Login with Github
    a(href="/socialLogin/naver") Login with Naver
    hr
    div
        strong Don't have an Account? &rarr; 
        a(href="/join") Join