extends ../base/layout

block content
    section.reupload.center
        header
            h1
                strong Reupload Video
        form(method="post", enctype="multipart/form-data")
            h3
                label(for="reupload") Re-upload Video File 
            input(type="file", name="video", id="reupload", accept="video/*") 
            button(type="submit").submit
                strong Pre-Reupload