article.watch {
    width: 100%;
    padding: 24px 3%;
}

section.watch-video {
    header.watch-video-data {
        padding: 20px 0 8px 0;
        border-bottom: 1px solid $border;
        .watch-title {
            small {
                color: $blue;
            }
        }

        .watch-meta {
            @include flex(space-between, center);
            .watch-meta-data {
                color: $gray;
            }
            .watch-meta-button ul {
                @include flex;
                li {
                    padding: 0 8px;
                    button {
                        @include flex;
                        a {
                            @include flex;
                        }
                        i {
                            padding: 6px;
                        }
                    }
                }
            }
        }
    }
}

section.watch-channel {
    padding: 18px 0;
    border-bottom: 1px solid $border;
    header {
        @include flex(space-between);
    }

    div.channel-avatar-title {
        @include flex(flex-start);
        div.channel-avatar {
            img {
                @include avatar(watch);
                margin-right: 16px;
            }
        }
        small {
            color: $gray;
        }
    }
    div.channel-subscription {
        button {
            padding: 10px 16px;
            border-radius: 2px;
            color: $white;
            background-color: $red;
        }
        .subscribed {
            color: $gray;
            background-color: $background;
        }
    }
    div.channel-video-description {
        margin-left: 64px;
    }
}

div.video-player {
    position: relative;
    video {
        width: 100%;
        display: block;
    }
    div.video-controller {
        position: absolute;
        width: 100%;
        padding: 0 12px;
        transform: translateY(-98%);
        overflow: hidden;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
        .time-line {
            width: 100%;
        }
        button {
            padding: 12px;
        }
        input {
            appearance: auto;
            border: none;
            height: 5px;
            background-color: $gray;
        }
        div.controller-container {
            @include flex(space-between);
        }
        div.controller-left {
            @include flex();
        }
    }
    div.video-controller.showing {
        opacity: 1;
    }
}
