@font-face {
    font-family: 'youtube';
    src: url('/assets/fonts/youtube.eot');
    src: url('/assets/fonts/youtube.eot#iefix') format('embedded-opentype'),
        url('/assets/fonts/youtube.ttf') format('truetype'),
        url('/assets/fonts/youtube.woff') format('woff'),
        url('/assets/fonts/youtube.svg#youtube') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'youtube' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;
    &:before {
        font-size: 24px;
    }
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-pause:before {
    content: '\e90d';
}
.ic-play:before {
    content: '\e920';
}
.ic-edit:before {
    content: '\e921';
}
.ic-fullscreen:before {
    content: '\e922';
}
.ic-fullscreen-exit:before {
    content: '\e923';
}
.ic-high-volume:before {
    content: '\e924';
}
.ic-logout:before {
    content: '\e925';
}
.ic-low-volume:before {
    content: '\e926';
}
.ic-mute:before {
    content: '\e927';
}
.ic-your-channel:before {
    content: '\e928';
}
.ic-disliked:before {
    content: '\e91e';
}
.ic-youtube-logo .path1:before {
    content: '\e915';
    color: rgb(255, 0, 0);
}
.ic-youtube-logo .path2:before {
    content: '\e916';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-youtube-logo .path3:before {
    content: '\e917';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-youtube-logo .path4:before {
    content: '\e918';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-youtube-logo .path5:before {
    content: '\e919';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-youtube-logo .path6:before {
    content: '\e91a';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-youtube-logo .path7:before {
    content: '\e91b';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-youtube-logo .path8:before {
    content: '\e91c';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-youtube-logo .path9:before {
    content: '\e91d';
    margin-left: -4.5em;
    color: rgb(255, 255, 255);
}
.ic-arrow-bottom:before {
    content: '\e900';
}
.ic-arrow-top:before {
    content: '\e901';
}
.ic-create:before {
    content: '\e902';
}
.ic-explore:before {
    content: '\e903';
}
.ic-explore-fill:before {
    content: '\e904';
}
.ic-hamburger:before {
    content: '\e905';
}
.ic-home:before {
    content: '\e906';
}
.ic-home-fill:before {
    content: '\e907';
}
.ic-left-bottom:before {
    content: '\e908';
}
.ic-library:before {
    content: '\e909';
}
.ic-library-fill:before {
    content: '\e90a';
}
.ic-liked:before {
    content: '\e90b';
}
.ic-liked-fill:before {
    content: '\e90c';
}
.ic-disliked-fill:before {
    content: '\e91f';
}
.ic-premium:before {
    content: '\e90e';
}
.ic-premium-fill:before {
    content: '\e90f';
}
.ic-save:before {
    content: '\e910';
}
.ic-search:before {
    content: '\e911';
}
.ic-subscriptions:before {
    content: '\e912';
}
.ic-subscriptions-fill:before {
    content: '\e913';
}
.ic-your-videos:before {
    content: '\e914';
}
