mixin avatar(channel)
    a(href=`/channel/${channel._id}`)
        img(src=`${channel.avatarUrl.startsWith("https") ? channel.avatarUrl : `/${channel.avatarUrl}`}`, alt=`${channel.name}ì˜ avatar image`)