mixin subscription(subscriptions)
    ul
        each channel in subscription
            li
                a(href=`/channel/${channel.id}`)
                    img(src=channel.avatarUrl, alt=`${channel.name}ì˜ avatar image`)
                    strong #{channel.name}