// SIGN IN button ver. blue
@mixin loginBtn {
    @include flex(flex-start);
    height: 40px;
    padding: 5px 11px;
    border-radius: 2px;
    border: 1px solid $blue;
    color: $blue;
    font-size: 15px;
    span {
        margin-left: 8px;
    }
}

form:not(.header-form, .search-form) {
    width: 460px;

    header {
        margin-bottom: 24px;
    }

    label {
        display: block;
        margin: 16px 0 8px;
    }

    input:not([type='file']):not([type='range']) {
        width: 100%;
        padding: 16px 10px;
        border-radius: 4px;
        background-color: $white;
        color: $black;
    }

    input[type='file'] {
        width: 100%;
        padding: 8px 10px;
        border-radius: 4px;
        background-color: $white;
        color: $black;
    }

    .msg {
        display: block;
        color: $green;
        margin-top: 6px;
    }

    .msg.invalid {
        display: block;
        color: $red;
        margin-top: 6px;
    }

    .recording-video {
        margin-bottom: 12px;
    }

    .video-player {
        background: url('/assets/icons/video.svg');
        background-position: center center;
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-color: $gray;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 12px;
    }
    video {
        display: block;
        width: 100%;
    }

    img.avatar {
        display: block;
        width: 180px;
        height: 180px;
        margin-bottom: 12px;
    }

    .thumb {
        height: 0;
        position: relative;
        padding-top: calc(100% / 16 * 9);
        margin-bottom: 12px;
        overflow: hidden;
        z-index: -1;
        background: url('/assets/icons/img.svg');
        background-position: center center;
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-color: $gray;
        border-radius: 4px;
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
        }
    }

    textarea {
        width: 100%;
        padding: 16px 10px;
        border-radius: 4px;
        background-color: $white;
    }

    button.submit {
        margin-top: 28px;
    }

    button:not([name='controls']) {
        width: 100%;
        padding: 16px 0;
        margin-bottom: 12px;
        border-radius: 4px;
        background-color: $red;
    }

    button.naver {
        background-color: $green;
    }

    button.github {
        background-color: $background-dark;
    }
}

footer {
    &::before {
        content: '';
        display: block;
        margin: 16px 0;
        border: 1px solid $gray;
    }

    div {
        text-align: center;
        margin-bottom: 8px;
        a {
            color: $blue;
            text-decoration: underline;
        }
    }
}
